{% extends "stocks/base_list.html" %}

<!-- Le navigation bar -->

{% block navbar %}
<ul class="nav nav-pills pull-right">
    <li> <a href="{% url warehouse-list %}"> Bodegas </a> </li>
    <li> <a href="{% url product-list %}"> Productos </a> </li>
    <li class="active"> <a href="{% url pricetag-list %}"> Precios </a> </li>
    <li> <a href="{% url stock-list %}"> Existencias </a> </li>
    <li> <a href="{% url stockevent-list %}"> Registro de existencias </a> </li>
</ul>
{% endblock navbar %}

<!-- Le table_items -->

{% block table_items %}
<thead>
    <tr>
        <th class="span3"> Fecha </th>
        <th class="span6"> Producto </th>
        <th class="span3"> Precio </th>
    </tr>
</thead>
<tbody>
    {% for pricetag in pricetag_list %}
    <tr>
        <td> <a href="{% url pricetag-detail pricetag.id %}"> {{ pricetag.date|date:"D N d y (G:i)"|title }} </a> </td>
        <td> <a href="{% url product-detail pricetag.product.id %}"> {{ pricetag.product }} </a> </td>
        <td> <span class="pull-right"> {{ pricetag.price|floatformat:2 }} </span> </td>
    </tr>
    {% endfor %}
</tbody>
{% endblock table_items %}

<!-- Le error message -->

{% block table_empty %}
    {% if pricetag_list.empty %} 
    <div class="alert alert-info">
        No hay precios para mostrar.
    </div>
    {% endif %}
{% endblock table_empty %}
