{% extends "stocks/base_detail.html" %}

{% block name %}
    {{ pricetag }} <small>fecha: {{ pricetag.date|date:"SHORT_DATETIME_FORMAT" }}</small>
{% endblock name %}

{% block navbar %}
    <a href="{% url pricetag-list %}"> <i class="icon-chevron-left"></i> Lista de precios </a>
{% endblock navbar %}

{% block detail %}
    <p class="lead"> 
        El {{ pricetag.date }} se cambió el precio del producto "{{ pricetag.product }}" por
        <span class="text-info">${{ pricetag.price|floatformat:2 }}</span>.
    </p>
    <h2>Otros precios de este producto</h2>
    <table class="table table-bordered table-hover">
    {% for pt in pricetag.product.pricetag_set.all %}
        <tr><td>
        <span class="badge {% if forloop.first %}badge-success{% endif %}">${{ pt.price|floatformat:2 }}</span> a partir del {{ pricetag.date }}
        </td></tr>
    {% endfor %}
    </table>
{% endblock detail %}