{% extends "stocks/base_list.html" %}

<!-- Le navigation bar -->

{% block navbar %}
<ul class="nav nav-pills pull-right">
    <li> <a href="{% url warehouse-list %}"> Bodegas </a> </li>
    <li class="active"> <a href="{% url product-list %}"> Productos </a> </li>
    <li> <a href="{% url pricetag-list %}"> Precios </a> </li>
    <li> <a href="{% url stock-list %}"> Existencias </a> </li>
    <li> <a href="{% url stockevent-list %}"> Registro de existencias </a> </li>
</ul>
{% endblock navbar %}

<!-- Le table_items -->

{% block table_items %}
<thead>
    <tr>
        <th class="span2"> Código </th>
        <th class="span6"> Nombre </th>
        <th class="span2"> Precio </th>
        <th class="span2"> Disponibles </th>
    </tr>
</thead>
<tbody>
{% for product in product_list %} 
    {% if product.available %}
    <tr>
    {% else %}
    <tr class="error">
    {% endif %}
        <td> {{ product.reference }} </td>
        <td> <a href="{% url product-detail product.id %}"> {{ product.name }} </a> </td>
        <td> <span class="pull-right"> {{ product.price|floatformat:2 }} </span> </td>
        <td> 
            <a href="{% url product-detail product.id %}"> <i class="icon-chevron-right pull-right"></i> </a>
            <span class="pull-right"> {{ product.stock_level }} </span> 
        </td>
    </tr>
{% endfor %}
</tbody>
{% endblock table_items %}

<!-- Le error message -->

{% block table_empty %}
    {% if product_list.empty %} 
    <div class="alert alert-info">
        No hay productos para mostrar.
    </div>
    {% endif %}
{% endblock table_empty %}

