{% extends "stocks/base_detail.html" %}

{% block name %}
    {{ product.name }} <small>ref: {{ product.reference }}</small>
    <span class="badge badge-success pull-right"> ${{ product.price|floatformat:2 }} </span>
{% endblock name %}

{% block navbar %}
    <a href="{% url product-list %}"> <i class="icon-chevron-left"></i> Lista de productos </a>
    <ul class="nav nav-pills pull-right">
        <li> <a href="{% url admin:stocks_product_change product.id %}"> Modificar información </a> </li>
    </ul>
{% endblock navbar %}

{% block detail %}

    {% if product.description %}
    <p class="lead"> {{ product.description }} </p>
    {% else %}
    <div class="alert alert-info"> La descripción del producto "{{ product.name|lower }}" no está disponible. </div>
    {% endif %}

    <h2>Existencias:</h2>
    <table class="table table-bordered table-hover">
    {% for stock in product.stock_set.all %}
        <tr><td>
        <a href="{% url stock-detail stock.id %}"><span class="badge"> {{ stock.level }}</span></a> unidades disponibles en la bodega 
            <a href="{% url warehouse-detail stock.warehouse.id %}">{{ stock.warehouse }}</a>. 
        </td></tr>
    {% endfor %}
    </table>

    <h2>Historial de precios</h2>
    <table class="table table-bordered table-hover">
    {% for pricetag in product.pricetag_set.all %}
        <tr><td>
        <span class="badge {% if forloop.first %}badge-success{% endif %}">${{ pricetag.price|floatformat:2 }}</span> a partir del {{ pricetag.date }}
        <br />
        </td></tr>
    {% endfor %}
    </table>
{% endblock detail %}