{% extends "base.html" %}

<!-- Le title -->

{% block title %} Inventario {% endblock %}

<!-- Le navigation bar -->

{% block navbar %}
<ul class="nav nav-pills pull-right">
    <li> <a href="{% url warehouse-list %}"> Bodegas </a> </li>
    <li> <a href="{% url product-list %}"> Productos </a> </li>
    <li> <a href="{% url pricetag-list %}"> Precios </a> </li>
    <li> <a href="{% url stock-list %}"> Existencias </a> </li>
    <li class="active"> <a href="{% url stockevent-list %}"> Registro de existencias </a> </li>
</ul>
{% endblock navbar %}

<!-- Le content -->

{% block content %}

<table class="table table-bordered table-striped table-hover" id="products-container">
    <thead>
        <tr>
            <th class="span2"> Fecha </th>
            <th class="span3"> Bodega </th>
            <th class="span4"> Producto </th>
            <th class="span2"> Cantidad final </th>
        </tr>
    </thead>
    <tbody>
    {% for stockevent in stockevent_list %}
        <tr>
            <td> {{ stockevent.date|date:"D N d y (G:i)"|title }} </td>
            <td> <a href="{% url warehouse-detail stockevent.stock.warehouse.id %}"> {{ stockevent.stock.warehouse }} </a> </td>
            <td> <a href="{% url stockevent-detail stockevent.id %}"> {{ stockevent.stock.product }} </a> </td>
            <td> {{ stockevent.level }} </td>
        </tr>
    {% empty %}
        <div class="alert alert-info">
            No hay productos para mostrar.
        </div>
    {% endfor %}
    </tbody>
</table>

{% if is_paginated %}
<div class="pagination pagination-centered">
    <ul>
    {% for p in paginator.page_range %}
        <li> <a href="?page={{ p }}"> {{ p }} </a> </li>       
    {% endfor %}
    </ul>
</div>
{% endif %}

{% endblock content %}
