{% extends "stocks/base_detail.html" %}

{% block name %}
    {{ stockevent }} <small>fecha: {{ stockevent.date }}</small>
{% endblock name %}

{% block navbar %}
    <a href="{% url stockevent-list %}"> <i class="icon-chevron-left"></i> Lista de registros </a>
    <ul class="nav nav-pills pull-right">
        <li> <a href="{% url admin:stocks_stockevent_change stockevent.id %}"> Modificar información </a> </li>
    </ul>
{% endblock navbar %}

{% block detail %}

    <p class="lead">
        <strong>{{ stockevent.reason }}</strong>
        <br />
        {{ stockevent.description }}
    </p>

{% endblock detail %}