{% extends "stocks/base_list.html" %}

<!-- Le navigation bar -->

{% block navbar %}
<ul class="nav nav-pills pull-right">
    <li> <a href="{% url warehouse-list %}"> Bodegas </a> </li>
    <li> <a href="{% url product-list %}"> Productos </a> </li>
    <li> <a href="{% url pricetag-list %}"> Precios </a> </li>
    <li> <a href="{% url stock-list %}"> Existencias </a> </li>
    <li class="active"> <a href="{% url stockevent-list %}"> Registro de existencias </a> </li>
</ul>
{% endblock navbar %}

<!-- Le table_items -->

{% block table_items %}
<thead>
    <tr>
        <th class="span2"> Fecha </th>
        <th class="span4"> Bodega </th>
        <th class="span4"> Producto </th>
        <th class="span2"> Cantidad final </th>
    </tr>
</thead>
<tbody>
    {% for stockevent in stockevent_list %}
    <tr>
        <td> <a href="{% url stockevent-detail stockevent.id %}"> {{ stockevent.date|date:"D N d y (G:i)"|title }} </a> </td>
        <td> <a href="{% url warehouse-detail stockevent.stock.warehouse.id %}"> {{ stockevent.stock.warehouse }} </a> </td>
        <td> <a href="{% url product-detail stockevent.stock.product.id %}"> {{ stockevent.stock.product }} </a> </td>
        <td> <span class="pull-right"> {{ stockevent.level }} </span> </td>
    </tr>
    {% endfor %}
</tbody>
{% endblock table_items %}

<!-- Le error message -->

{% block table_empty %}
    {% if stockevent_list.empty %} 
    <div class="alert alert-info">
        No hay registros para mostrar.
    </div>
    {% endif %}
{% endblock table_empty %}
