{% extends "stocks/base_list.html" %}

<!-- Le navigation bar -->

{% block navbar %}
<ul class="nav nav-pills pull-right">
    <li class="active"> <a href="{% url warehouse-list %}"> Bodegas </a> </li>
    <li> <a href="{% url product-list %}"> Productos </a> </li>
    <li> <a href="{% url pricetag-list %}"> Precios </a> </li>
    <li> <a href="{% url stock-list %}"> Existencias </a> </li>
    <li> <a href="{% url stockevent-list %}"> Registro de existencias </a> </li>
</ul>
{% endblock navbar %}

<!-- Le items -->

{% block table_items %}  
<thead>
    <tr>
        <th class="span6"> Nombre </th>
        <th class="span6"> Dirección </th>
    </tr>
</thead>
<tbody>
    {% for warehouse in warehouse_list %}
        <tr>
            <td> <a href="{% url warehouse-detail warehouse.id %}"> {{ warehouse.name }} </a> </td>
            <td> 
                {{ warehouse.address }} 
                <a href="{% url warehouse-detail warehouse.id %}"> <i class="icon-chevron-right pull-right"></i> </a>
            </td>
        </tr>
    {% endfor %}
</tbody>
{% endblock table_items %}

<!-- Le error message -->

{% block table_empty %}
    {% if warehouse_list.empty %} 
    <div class="alert alert-info">
        No hay bodegas para mostrar.
    </div>
    {% endif %}
{% endblock table_empty %}
