{% extends "base.html" %}
{% load url from future %}

{% block title %}
    Login
{% endblock %}

{% block content %}

<div class="page-header">
    <h1>Inicio de sesión</h1>
</div>

<div class="row">
    <div class="span8 offset2" id="sign_in_container">
    {% if form.errors %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">
                ×
            </button>
            El nombre de usuario y contraseña que ingresaste no coinciden. Por favor intenta de nuevo.
        </div>
    {% endif %}
        <form class="form-horizontal" method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
            {% for field in form %}
                <div class="control-group">
                    <label class="control-label" for="{{ field.html_name }}"> {{ field.label }} </label>
                    <div class="controls">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
            <div class="control-group">
                <div class="controls">
                    <input type="submit" class="btn" value="Acceder" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}