{% extends "stocks/base_list.html" %}

<!-- Le navigation bar -->

{% block navbar %}
<ul class="nav nav-pills pull-right">
    <li class="active"> <a href="{% url warehouse-list %}"> Bodegas </a> </li>
    <li> <a href="{% url product-list %}"> Productos </a> </li>
</ul>
{% endblock navbar %}

<!-- Le items -->

{% block table_items %}  
<thead>
    <tr>
        <th class="span6"> Nombre </th>
        <th class="span6"> Dirección </th>
    </tr>
</thead>
<tbody>
    {% for warehouse in warehouse_list %}
        <tr>
            <td> <a href="{% url warehouse-detail warehouse.id %}"> {{ warehouse.name }} </a> </td>
            <td> 
                {{ warehouse.address }}
            </td>
        </tr>
    {% endfor %}
</tbody>

{% if perms.stocks.add_warehouse and user.is_staff %}
<a class="btn btn-primary" href="{% url admin:stocks_warehouse_add %}">
    Añadir bodega
</a>  
{% endif %}

{% endblock table_items %}

<!-- Le error message -->

{% block table_empty %}
    {% if warehouse_list.empty %} 
    <div class="alert alert-info">
        No hay bodegas para mostrar.
    </div>
    {% endif %}
{% endblock table_empty %}
