{% extends "clients/base_list.html" %}

<!-- Le navigation bar -->

{% block navbar %}
<ul class="nav nav-pills pull-right">
    <li> <a href="{% url route-list %}"> Rutas </a> </li>
    <li class="active"> <a href="{% url client-list %}"> Clientes </a> </li>
</ul>
{% endblock navbar %}

<!-- Le items -->

{% block table_items %}  
<thead>
    <tr>
        <th class="span4"> Nombre </th>
        <th class="span4"> Dirección </th>
        <th class="span2"> Teléfono </th>
        <th class="span2"> Saldo </th>
    </tr>
</thead>
<tbody>
    {% for client in client_list %}
        <tr>
            <td> <a href="{% url client-detail client.id %}"> {{ client.full_name }} </a> </td>
            <td> {{ client.address }} </td>
            <td> {{ client.phone_number }} </td>
            <td> {{ client.total_debt }} </td>
        </tr>
    {% endfor %}
</tbody>

{% if perms.stocks.add_client and user.is_staff %}
<a class="btn btn-primary" href="{% url admin:clients_client_add %}">
    Añadir cliente
</a>
{% endif %}

{% endblock table_items %}

<!-- Le error message -->

{% block table_empty %}
    {% if client_list.empty %} 
    <div class="alert alert-info">
        No hay clientes para mostrar.
    </div>
    {% endif %}
{% endblock table_empty %}
